* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	font-family: 'Roboto Mono', monospace;
	margin: auto;
	max-width: 1200px;
	align-content: center;
	padding: 5px;

}

img {
	max-width: 100%;
}

.header {
	margin-left: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: 500;
	color: black;
}

.intro {
	display: grid;
	position: relative;
	grid-template-columns: repeat(2, 1fr);
}

.paragraph1 {
 	margin: 10px;
	max-width: 1100px;
	max-height: 100%;
}

.button {
 	margin: 10px;
	color: white;
	text-align: center;
	max-height: 100%;
}

.banner {
 	margin: 10px;
	text-align: center;
}

#rcorners1 { /*https://www.w3schools.com/css/tryit.asp?filename=trycss3_border-radius*/
  border-radius: 20px;
  border: 2px solid black;
  padding: 20px; 
  max-width: 100%; 
}

#rcorners2 {
border: 2px solid black;
  border-radius: 20px;
  padding: 51px; 
  max-width: 100%;  
  background: black;	
}

#rcorners2:hover {
	color: black;
	background: white;
	border: 2px solid black;
	border-radius: 20px;
	cursor: pointer;
	transition: 0.3s;
}

#rcorners3 {
  border-radius: 20px;
  border: 2px solid black;
  padding: 20px; 
  max-width: 100%;
  max-height: 100%;  	
}

.item_row1 {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	min-height: 350px;
	margin-right: 10px;
}

.square {
	border-radius: 20px;
	border: 2px solid black; 
	margin: 10px;
	width: 375px;
	height: 375px;
}

.square, .square2:hover {
	cursor: pointer;
}

.item_row2 {
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 600px;
	margin-bottom: 25px;
}

.square2 {
	border-radius: 20px;
	border: 2px solid black; 
	margin: 10px;
	width: 575px;
	height: 600px;
}



@media (max-width: 1100px)  {
	.intro, .item_row2 {
		grid-template-columns: 1fr;
	}
	.item_row1 {
		grid-template-columns: 1fr 1fr;
	}
}

@media (max-width: 900px) {
	.item_row1 {
		grid-template-columns: 1fr; 
	}

}

	
